body {
    margin: 0px;
    padding: 0px;
    background-image: url(img/2.jpg);
    color: white;
    font-family: 'Russo One', sans-serif;
}

.left {
    position: absolute;
    left: 100px;
    top: 70px;
    display: inline-block;
    /* border: 2px solid yellowgreen; */
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.left p {
    margin-top: -10px;
}

.mid {
    display: block;
    width: 45%;
    /* border: 2px solid blue; */
    margin: 70px auto;
    word-spacing: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.right {
    position: absolute;
    right: 100px;
    top: 70px;
    display: inline-block;
    /* border: 2px solid yellowgreen; */
    font-size: 20px;
    font-weight: 600;
}

.nav-list li {
    display: inline-block;
    text-decoration: none;
}

.nav-list li a {
    text-decoration: none;
}

.nav-list li a:link {
    color: white;
}

.nav-list li a:visited {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: grey;
}

.logo {
    width: 70px;
    height: 70px;
    filter: invert(100%);
}

.btn-book {
    margin-top: 0px 9px;
    color: white;
    background-color: #393e46;
    border-radius: 2px;
    padding: 4px 6px;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Russo One', sans-serif;
    cursor: pointer;
}

.btn-book:hover {
    background-color: black;
    /* color: #00ff00; */
}

.container {
    /* border: 2px solid green; */
    border-radius: 5%;
    margin: 100px 100px;
    padding: 10px 85px;
    display: block;
    width: 33%;
    text-align: center;
}

.container p {
    font-size: 25px;
}

.form-group input {
    border-radius: 2px;
    border-style: solid;
    border-color: white;
    margin: 15px;
    height: 30px;
    width: 300px;
    text-align: center;
    color: white;
    background-color: #393e46;
    font-family: 'Russo One', sans-serif;
}

